<template name="projectDetails">
  <div class="ui project details page grid">
    <article class="column">
      <h1 class="ui header">
  		  {{title}}
  			<small class="datestamp">posted {{formatDate date updated}}</small>
  		</h1>
		  <p>{{intro}}</p>
      {{#markdown}}{{content}}{{/markdown}}
      <div class="ui mailchimp widget">
        {{> MailChimpListSubscribe}}
        {{> shareit}}
      </div>
      {{> disqus}}
      {{#if currentUser}}
        <a class="circular ui admin icon button" href="{{pathFor 'editProject'}}">
  	      <i class="configure icon"></i>
  	    </a>
      {{/if}}
    </article>
	</div>
</template>
