<template name="home">
  <div class="home">
    {{#if noContent}}
      no content :(
    {{else}}
      <div class="ui page grid">
			  <div class="ui animated list column">
          {{#each posts}}
            {{> post}}
          {{/each}}
          {{#if nextPath}}
            <a class="ui secondary button" href="{{nextPath}}">Load more...</a>
          {{else}}
            {{#unless ready}}
              {{> loading}}
            {{/unless}}
          {{/if}}
        </div>
      </div>
    {{/if}}
  </div>
</template>
