@import '../utilities/helpers';
@import '../utilities/variables';

// layout styles

html {
  width: @full;
  height: @full;

  body {
    width: @full;
    height: @full;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    background: @background-color;

    .layout {
      position: relative;
      min-height: @full;
      overflow: hidden;

      .view {
        position: relative;
        overflow: hidden;
        height: @full;
        margin: 0;
        padding: @space-largest 0 @space-jumbo;
      }
    }
	}
}
