<template name="admin">
  <div class="admin">
    <div class="ui stackable page grid">
  		<div class="column">
        <div class="ui active animated fadeIn tab segment" data-tab="first">
    			{{> insertPost}}
    	  </div>
    	  <div class="ui animated fadeIn tab segment" data-tab="second">
    		  {{> insertProject}}
    	  </div>
      </div>
    </div>
    <div class="ui animated fadeInUp admin menu">
      <div class="ui circular icon button active"  data-tab="first">
        <i class="write icon"></i>
      </div>
      <div class="ui circular icon button" data-tab="second">
        <i class="lab icon"></i>
      </div>
    </div>
  </div>
</template>
