@import '../utilities/helpers';
@import '../utilities/variables';

// header styles

.layout {

	.header {
		z-index: 1;

		.ui.admin.menu {
			background: @mute-color;
			-moz-box-shadow: 0 0 @space-small 0 @highlight-color;
			-webkit-box-shadow: 0 0 @space-small 0 @highlight-color;
			box-shadow: 0 0 @space-small 0 @highlight-color;

			.item {
				margin: 0;
				padding: @space-small;
				color: @secondary-color;

				&:hover,
				&:focus {
					background: transparent;
					color: @primary-color;

					&.logout {
						color: @negative-color;
					}
				}

				.icon {
					margin: 0;
				}
			}
		}
	}
}
