<template name="postDetails">
  <div class="ui post details page grid">
    <article class="column">
      <h1 class="ui header">
  		  {{title}}
  			<small class="datestamp">posted {{formatDate date updated}}</small>
  		</h1>
		  <p>{{intro}}</p>
      {{#markdown}}{{content}}{{/markdown}}
      {{> disqus}}
      {{> shareit}}
      {{#if currentUser}}
        <a class="circular ui admin icon button" href="{{pathFor 'editPost'}}">
  	      <i class="configure icon"></i>
  	    </a>
      {{/if}}
    </article>
	</div>
</template>
