@import '../utilities/helpers';
@import '../utilities/variables';

// details styles

.view {

  .details {

    .column {

      .ui.header {
        margin: @space-base auto @space-large;
        color: @secondary-color;
        font-size: @font-size-x-large;
        line-height: @line-height-base;
        text-align: center;

        @media (min-width: @tablet-width) {
          font-size: @font-size-x-larger;
        }

        @media (min-width: @medium-desktop-width) {
          font-size: @font-size-x-largest;
        }

        @media (min-width: @large-desktop-width) {
          font-size: @font-size-huge;
        }

        .datestamp {
          display: block;
          color: @highlight-color;
          font-size: 50%;
          font-weight: normal;
        }
      }

      .ui.admin.button {
        position: fixed;
        bottom: 0;
        left: 0;
        margin: @space-tiny;
        border: 0;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        background: fade(@mute-color, 50%);
        color: @secondary-color;

        &:hover,
        &:focus {
          background: fade(@mute-color, 75%);
          color: @primary-color;
        }
      }
    }
	}
}
