<template name="footer">
  <div class="circular ui icon button">
    <i class="content icon"></i>
  </div>
  <div class="ui social widget">
    <div class="ui circular facebook icon button">
      <i class="facebook icon"></i>
    </div>
    <div class="ui circular twitter icon button">
      <i class="twitter icon"></i>
    </div>
    <div class="ui circular linkedin icon button">
      <i class="linkedin icon"></i>
    </div>
    <div class="ui circular google plus icon button">
      <i class="google plus icon"></i>
    </div>
  </div>
  <p class="copyright">
    &copy; 2015
    <a href="http://damirvazgird.com" target="_blank">
      Damir Vazgird
    </a>
  </p>
</template>
