<template name="menu">
	<aside class="ui bottom horizontal labeled icon sidebar menu">
    <a class="item {{isActiveRoute regex='home'}}" href="{{pathFor 'home'}}">
      <i class="home icon"></i>
      Posts
    </a>
    <a class="item {{isActiveRoute regex='work'}}" href="{{pathFor 'work'}}">
      <i class="block layout icon"></i>
      Work
    </a>
    <a class="item {{isActiveRoute regex='about'}}" href="{{pathFor 'about'}}">
      <i class="smile icon"></i>
      About
    </a>
	</aside>
</template>
