<template name="social">
	<div class="ui social menu">
    <a class="ui circular twitter icon button" href="https://twitter.com/dvazgird" target="_blank">
      <i class="twitter icon"></i>
    </a>
    <a class="ui circular linkedin icon button" href="https://www.linkedin.com/pub/damir-vazgird/35/665/926" target="_blank">
      <i class="linkedin icon"></i>
    </a>
    <a class="ui circular github icon button" href="https://github.com/amazingBastard" target="_blank">
      <i class="github icon"></i>
    </a>
  </div>
</template>
