@import '../utilities/helpers';
@import '../utilities/variables';

// shareit styles

.layout {

  .share-buttons {
    position: relative;
    top: 4.25rem;
		margin: 0 auto;
		text-align: center;

		.ui.icon.button {
		  margin: 0 @space-small;

      .fa {
        display: block;
        margin: 0;
        height: @space-base;
        color: @light;
        font-size: @font-size-base;
        font-family: Icons;
        font-style: normal;
        font-weight: normal;
        text-align: center;

        &.fa-facebook {
        padding: 0 @space-mini;

          &:before {
            content: "\f09a";
          }
        }

        &.fa-twitter {

          &:before {
            content: "\f099";
          }
        }

        &.fa-google-plus {

          &:before {
            content: "\f0d5";
          }
        }
      }

      &:hover,
      &:focus {
        background: @mute-color;

        .fa {
          color: @secondary-color;
        }
      }
    }
  }
}
